@charset "UTF-8";
/* CSS DOCUMENT */
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --black: #000;
  --clr-white: #fff;
  --clr-light-grey: #9a9a9a;
  --clr-med-grey: #232323;
  --clr-med-grey-2: #1d1c1c;
  --clr-dark-grey-1: #1a1a1a;
  --clr-dark-grey-2: #161616;
  --clr-light-purple: #d9c4f1;
  --clr-light-blue: #87C0FF;
  --clr-light-green: #8BFF78;
  --clr-dark-blue: #2874c6;
  --clr-bright-red: #bf0000;
  --clr-pale-red: #FF7171;
  --clr-bright-red: #de4747;
  --clr-bright-orange: #fc7c0c;
  --clr-dark-yellow: #febc00;
  --clr-bright-yellow: #ffd100;
  --clr-pale-yellow: #FFE76A;
}

:root {
  --ff-serif: "Bitter", serif;
  --ff-sans: "Inter", sans-serif;
  --fs-md: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.75rem;
  --fs-4xl: 2rem;
  --fs-5xl: 2.5rem;
  --fs-header: 3rem;
}

:root {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  border: 0;
  padding: 0;
  color: inherit;
  background: none;
  white-space: nowrap;
  cursor: pointer;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/* CSS DOCUMENT */
/* CSS DOCUMENT */
:root {
  --clr-text: var(--clr-white);
  --bg: var(--clr-dark-grey-2);
  --container-bg: var(--clr-dark-grey-1);
  --main-filters: var(--clr-dark-yellow);
  --filter-border: var(--clr-dark-grey-2);
  --number: var(--clr-light-blue);
  --primary-doctor: var(--clr-bright-orange);
  --h3: var(--clr-dark-yellow);
  --essential-button: var(--clr-dark-yellow);
  --castcrew-button: var(--clr-bright-orange);
  --summary-button: var(--clr-pale-red);
  --eps-button: #f674c2;
  --opacity-transition: opacity .5s ease-in-out;
  --button-transition: .5s ease-in-out;
}

/*
  GENERAL STYLES
*/
body {
  font-family: var(--ff-sans);
  font-size: var(--fs-md);
  background-color: var(--bg);
  color: var(--clr-text);
  line-height: 1.25;
}

/*
  BASIC STYLES
*/
h1, h2, h3, .number, .doctor {
  font-family: var(--ff-serif);
}

a {
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
  color: var(--clr-light-blue);
  font-weight: 500;
}
a:hover, a:focus {
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
  color: var(--clr-bright-orange);
}

button {
  border: none;
  margin: 0;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25rem auto;
  grid-template-columns: 25rem auto;
  -ms-grid-rows: auto auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
      grid-template-areas: "header header header" "sidebar filters filters" "sidebar container container" "footer footer footer";
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media (max-width: 1365px) {
  .wrapper {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: auto auto 1fr auto;
    grid-template-rows: auto auto 1fr auto;
        grid-template-areas: "header header header" "filter-button filters filters" "sidebar container container" "footer footer footer";
  }
}

/* CSS DOCUMENT */
/* CSS DOCUMENT */
/* CSS DOCUMENT */
h1.title {
  font-size: clamp(var(--fs-3xl), 3.5vw, var(--fs-header));
  font-weight: 700;
  color: var(--clr-bright-orange);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  z-index: 2;
  background-color: var(--container-bg);
  padding: 2rem 1.5rem;
  margin-bottom: 5rem;
  grid-area: header;
  width: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  position: relative;
  z-index: 3;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

#nav {
  z-index: 1;
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.mainsearch_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: min(40rem, 100%);
  position: relative;
  z-index: 3;
}

.main_search {
  font-size: var(--fs-xl);
  color: var(--clr-white);
  background-color: var(--clr-med-grey);
  width: 100%;
  padding: 0.75rem 2.5rem 0.75rem 3rem;
  outline: 0;
  border: 2px solid var(--clr-light-grey);
  z-index: 2;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.main_search:focus, .main_search:focus-within, .main_search:active {
  border: 2px solid var(--clr-light-blue);
  background-color: var(--clr-med-grey-2);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.search_tips {
  width: 95%;
  font-size: var(--fs-lg);
  padding: 0.75rem 0.75rem 0.75rem 1rem;
  background-color: var(--clr-med-grey-2);
  border: 2px solid var(--clr-light-grey);
  z-index: 1;
  position: absolute;
  top: 65px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.search_tips > span {
  display: block;
}
.search_tips.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.search_icon {
  font-size: var(--fs-xl);
  color: var(--clr-light-blue);
  z-index: 3;
  position: absolute;
  left: 0;
  margin-left: 2rem;
}

.clear_input {
  font-size: var(--fs-xl);
  padding: 0.5rem 1rem;
  display: none;
  z-index: 2;
}
.clear_input:hover, .clear_input:focus {
  color: var(--clr-pale-red);
}
.clear_input.active {
  display: block;
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

/* CSS DOCUMENT */
/* CSS DOCUMENT */
/* CSS DOCUMENT */
.open_filters {
  display: none;
  grid-area: filter-button;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  font-family: var(--ff-sans);
  font-size: var(--fs-2xl);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--clr-dark-grey-2);
  background-color: var(--clr-light-blue);
  padding: 0.5rem 1rem;
  margin: 0rem 0rem 2rem 2rem;
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.open_filters:hover, .open_filters:focus, .open_filters:active, .open_filters.active {
  background-color: var(--clr-dark-grey-1);
  color: var(--clr-light-blue);
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.open_filters i {
  font-size: var(--fs-xl);
}
@media (max-width: 1365px) {
  .open_filters {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sidebar {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  margin: 0 0 0 4rem;
  max-width: 25rem;
}
.sidebar h2 {
  font-size: var(--fs-4xl);
  color: var(--clr-bright-orange);
}
@media (max-width: 1365px) {
  .sidebar {
    max-width: 18rem;
    visibility: hidden;
    overflow-x: hidden;
    width: 0;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
    position: relative;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .sidebar.active {
    visibility: visible;
    overflow: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
}

.filter_title {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.sorting_filters {
  position: relative;
  margin: 0rem 2.5rem 0rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--clr-med-grey-2);
  z-index: 0;
}

#sort_button {
  width: 100%;
  text-align: left;
  font-size: var(--fs-2xl);
  font-weight: 600;
  padding: 0.75rem 1rem;
  color: var(--clr-light-blue);
  background-color: var(--clr-dark-grey-1);
  border-bottom: 1px solid var(--clr-dark-grey-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
#sort_button:hover, #sort_button:active, #sort_button.active {
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
  border-bottom: 1px solid var(--clr-light-blue);
}
#sort_button #selected_filter {
  font-size: var(--fs-xl);
  color: var(--clr-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#sort_button #selected_filter i {
  color: var(--clr-bright-yellow);
}

.sort_dropdown {
  background-color: var(--clr-med-grey-2);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.sort_dropdown.active {
  visibility: visible;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.sort_filter {
  font-size: var(--fs-lg);
  font-weight: 500;
  width: 100%;
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--clr-med-grey-2);
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.sort_filter:hover, .sort_filter:active, .sort_filter.active {
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
  color: var(--clr-light-blue);
  background-color: var(--clr-dark-grey-2);
}
.sort_filter:first-child {
  padding-top: 1rem;
}
.sort_filter:last-child {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--clr-dark-grey-2);
}

.boolean_filters {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0rem 0rem 2rem 0rem;
  gap: 10px;
  z-index: 2;
}

.boolean_filter_wrapper .boolean_filter {
  font-family: var(--ff-sans);
  font-size: var(--fs-xl);
  font-weight: 600;
  color: var(--clr-dark-grey-2);
  background-color: var(--clr-dark-yellow);
  padding: 0.5rem 1rem;
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.boolean_filter_wrapper .boolean_filter:hover, .boolean_filter_wrapper .boolean_filter:focus, .boolean_filter_wrapper .boolean_filter:active, .boolean_filter_wrapper .boolean_filter.active {
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
  color: var(--clr-bright-yellow);
  background-color: var(--clr-med-grey-2);
}
.multi_filters {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 2.5rem 0rem 0rem;
}
.multi_filters h3 {
  font-size: var(--fs-2xl);
  text-align: center;
  margin-bottom: 0.5rem;
}

.multi_filter {
  width: 100%;
  color: var(--main-filters);
  background-color: var(--clr-dark-grey-1);
  font-family: var(--ff-sans);
  font-size: var(--fs-2xl);
  font-weight: 600;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--filter-border);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  z-index: 2;
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.multi_filter:hover, .multi_filter:active, .multi_filter.active {
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
  border-bottom: 1px solid var(--main-filters);
}
.multi_filter:hover .arrow, .multi_filter:active .arrow, .multi_filter.active .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.multi_filter .category_name {
  width: 90%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.multi_filter .current_filters_number {
  font-size: var(--fs-md);
  color: var(--clr-dark-grey-2);
  background-color: var(--clr-dark-yellow);
  width: 1.25rem;
  border-radius: 100%;
}

.arrow {
  font-size: var(--fs-xl);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.arrow ion-icon {
  font-size: var(--fs-2xl);
}
.arrow:hover, .arrow:focus {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.show_filters {
  background-color: var(--clr-med-grey-2);
  width: 100%;
  position: relative;
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
  z-index: 1;
  -webkit-transition-property: visibility, max-height;
  transition-property: visibility, max-height;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.show_filters .filter {
  font-family: var(--ff-sans);
  font-size: var(--fs-lg);
  font-weight: 500;
  color: var(--clr-white);
  background-color: var(--clr-med-grey-2);
  width: 100%;
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.show_filters .filter:hover, .show_filters .filter:focus, .show_filters .filter.active {
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
  color: var(--main-filters);
  background-color: var(--clr-dark-grey-2);
}
.show_filters .filter.active::after {
  content: "✕";
  font-size: var(--fs-md);
}
.show_filters div > span {
  font-size: var(--fs-lg);
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}
.show_filters.active {
  visibility: visible;
  -webkit-transition-property: visibility, max-height;
  transition-property: visibility, max-height;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  border-bottom: 1px solid var(--filter-border);
}
.show_filters.active .show_more {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.search_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--clr-med-grey);
}

.search_bar {
  font-family: var(--ff-sans);
  font-size: var(--fs-lg);
  color: var(--clr-white);
  background-color: var(--clr-med-grey);
  width: 100%;
  border: none;
  padding: 0.5rem;
  outline: 0;
  border: 1px solid transparent;
}
.search_bar:focus, .search_bar:focus-within, .search_bar:active {
  border: 1px solid var(--clr-light-grey);
}
.clear_search {
  font-size: var(--fs-xl);
  padding: 0.5rem 1rem;
  display: none;
}
.clear_search:hover, .clear_search:focus {
  color: var(--clr-pale-red);
}
.clear_search.active {
  display: block;
  position: absolute;
  right: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.show_more {
  font-size: var(--fs-lg);
  font-weight: 500;
  color: var(--clr-bright-orange);
  background-color: var(--clr-med-grey-2);
  padding: 0 1rem 0.5rem;
  width: 100%;
  text-align: left;
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.show_more:hover, .show_more:focus {
  color: var(--main-filters);
  text-decoration: underline;
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}

/* CSS DOCUMENT */
/* CSS DOCUMENT */
/* CSS DOCUMENT */
.clicked_filters {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: filters;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.clicked_filters .container {
  background-color: var(--clr-med-grey-2);
  border: 1px solid var(--clr-med-grey);
  width: min(55rem, 100%);
  margin: 0rem 0 2.5rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.clicked_filters .container.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.clicked_filters .active_filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
.clicked_filters .active_filters span {
  color: var(--clr-light-grey);
  font-size: var(--fs-2xl);
  font-weight: 600;
  padding: 0.4rem 0.75rem;
}
.clicked_filters .filter {
  font-size: var(--fs-xl);
  font-weight: 600;
  color: var(--clr-dark-yellow);
  background-color: var(--clr-dark-grey-2);
  padding: 0.5rem 1rem;
  border: 1px solid var(--clr-med-grey);
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.clicked_filters .filter::after {
  font-weight: 700;
  padding-left: 0.75rem;
  font-size: var(--fs-md);
  color: var(--clr-bright-red);
  content: "✕";
}
.clicked_filters .filter:hover, .clicked_filters .filter:focus {
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
  background-color: var(--clr-dark-yellow);
  color: var(--clr-dark-grey-2);
}
.clicked_filters .clear_filters {
  font-size: var(--fs-xl);
  font-weight: 600;
  text-decoration: underline;
  background-color: var(--clr-med-grey-2);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0.75rem;
  margin-left: 1rem;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  display: none;
}
.clicked_filters .clear_filters:hover, .clicked_filters .clear_filters:active {
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  color: var(--clr-pale-red);
}
.clicked_filters .clear_filters.active {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.stories_displayed {
  font-size: var(--fs-2xl);
  font-weight: 500;
  text-transform: lowercase;
  text-align: center;
}
.stories_displayed .number_of_results {
  font-weight: 700;
  color: var(--clr-bright-yellow);
}

.blurb {
  width: min(55rem, 100%);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  -webkit-transition: opacity 0.5 ease-in-out;
  transition: opacity 0.5 ease-in-out;
}
.blurb_description {
  font-size: var(--fs-xl);
  background-color: var(--clr-dark-grey-1);
  border: 1px solid var(--clr-med-grey);
  margin: 3rem 0 1rem;
}
.blurb_description[data-filter=Essential] {
  border: 1.5px solid var(--clr-dark-yellow);
  -webkit-box-shadow: 5px 5px 0px 0px var(--clr-dark-yellow);
          box-shadow: 5px 5px 0px 0px var(--clr-dark-yellow);
}
.blurb p {
  padding: 0.75rem 1rem;
}
.blurb.active {
  -webkit-transition: opacity 0.5 ease-in-out;
  transition: opacity 0.5 ease-in-out;
  visibility: visible;
  opacity: 1;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

#container {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  width: 100%;
  grid-area: container;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  padding: 0rem 2rem;
}

.story {
  z-index: 1;
  margin: 2.5rem 2rem;
  width: min(55rem, 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 2fr;
  grid-template-columns: 1fr auto 2fr;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
}

.story > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.story > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.story > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.story > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.story > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.story > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.story h3 {
  font-size: var(--fs-md);
  color: var(--h3);
  font-weight: 600;
}
@media (max-width: 1365px) {
  .story {
    width: min(50rem, 100%);
    -ms-grid-columns: 1.5fr auto 2.5fr;
    grid-template-columns: 1.5fr auto 2.5fr;
  }
}

.essential {
  border: 1.5px solid var(--clr-dark-yellow);
  -webkit-box-shadow: 5px 5px 0px 0px var(--clr-dark-yellow);
          box-shadow: 5px 5px 0px 0px var(--clr-dark-yellow);
}

/*
  DIFFERENT AREAS OF THE STORY CONTAINER
*/
.poster_area {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 21rem;
  margin-right: 10px;
}
@media (max-width: 1365px) {
  .poster_area {
    width: auto;
  }
}

@media (max-width: 1365px) {
  .poster {
    width: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.info_area {
  background-color: var(--container-bg);
  grid-column: 2/-1;
  grid-row: 2/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title_area {
  padding: 2.25rem 2rem 1.5rem;
  border-bottom: 1px solid var(--clr-med-grey);
  background-color: #1d1c1c;
  grid-column: 3/-1;
  -ms-grid-row: 1;
  grid-row: 1/1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.number {
  color: var(--number);
  font-size: var(--fs-xl);
  font-weight: 800;
  margin: 0.25rem;
  border-radius: 5px;
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
}

.story_title {
  font-size: var(--fs-3xl);
  line-height: 1;
  margin: 0.25rem;
}
@media (max-width: 1365px) {
  .story_title {
    font-size: var(--fs-2xl);
  }
}

.doctor_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.doctor {
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.doctor span {
  font-size: var(--fs-md);
  color: var(--clr-pale-red);
  font-weight: 600;
  border-radius: 5px;
  margin: 0.2rem 0.3rem;
}
.doctor span:first-child {
  color: var(--primary-doctor);
  font-size: var(--fs-2xl);
}
@media (max-width: 1365px) {
  .doctor span:first-child {
    font-size: var(--fs-xl);
  }
}

.rating {
  font-size: var(--fs-xl);
  font-weight: 700;
  color: var(--clr-dark-grey-1);
  background-color: var(--clr-bright-yellow);
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}

.production_info {
  max-height: minmax(12.5rem, 16rem);
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.basic_info {
  opacity: 1;
  -webkit-transition: var(--opacity-transition);
  transition: var(--opacity-transition);
  grid-area: info;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.castcrew_info {
  opacity: 0;
  height: 0;
  -webkit-transition: var(--opacity-transition);
  transition: var(--opacity-transition);
  visibility: hidden;
  overflow: hidden;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  justify-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.castcrew_info span {
  font-size: var(--fs-lg);
  font-weight: 500;
  display: block;
}

.episodes_info {
  opacity: 0;
  height: 0;
  -webkit-transition: var(--opacity-transition);
  transition: var(--opacity-transition);
  visibility: hidden;
  overflow: auto;
}

.info_divs {
  margin: 1.5rem 2rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.summary_info {
  padding: 0 1rem;
  height: 0;
  visibility: hidden;
  opacity: 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  overflow: scroll;
  -webkit-transition: var(--opacity-transition);
  transition: var(--opacity-transition);
}

.summary {
  font-size: var(--fs-lg);
}
.summary span {
  display: block;
}
.summary span:not(:first-child) {
  margin-top: 1rem;
}

.eps_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.ep_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0.5rem;
  margin: 0.75rem;
  border: 1px solid var(--clr-med-grey);
}

.episode_name {
  font-size: var(--fs-xl);
  font-weight: 600;
  color: var(--clr-dark-yellow);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--clr-med-grey);
}

.ep_number, .ep_date, .ep_runtime, .ep_viewers, .ep_rating {
  font-size: var(--fs-lg);
  font-weight: 600;
  padding-top: 0.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.show {
  visibility: visible;
  height: 16rem;
  overflow: auto;
  opacity: 1;
  z-index: 0;
  -webkit-transition: var(--opacity-transition);
  transition: var(--opacity-transition);
}
@media (max-width: 1365px) {
  .show {
    height: 12.5rem;
  }
}

.hide {
  padding: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: var(--opacity-transition);
  transition: var(--opacity-transition);
}

.essential_area {
  z-index: 0;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-property: max-height, opacity;
  transition-property: max-height, opacity;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  grid-row: 3/-1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.essential_area .arrow_area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.essential_area :is(.arrow) {
  --arrow-color: var(--clr-light-blue);
  width: 2px;
  height: 3rem;
  background-color: var(--arrow-color);
  display: block;
  margin: 2rem 0 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.essential_area :is(.arrow)::after {
  content: "⬥";
  font-size: var(--fs-2xl);
  color: var(--arrow-color);
  position: absolute;
  margin-top: 2.48rem;
  margin-left: -11px;
}
.essential_area:is(.show) {
  visibility: visible;
  -webkit-transition-property: max-height, opacity;
  transition-property: max-height, opacity;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  opacity: 1;
}
.essential_area:is(.hide) {
  -webkit-transition: var(--opacity-transition);
  transition: var(--opacity-transition);
  -webkit-animation: hide 0.5s linear;
          animation: hide 0.5s linear;
}

.essential_reason {
  padding: 1.5rem;
  font-size: var(--fs-xl);
  background-color: var(--container-bg);
  border: 1.5px solid var(--clr-dark-yellow);
}
.essential_reason span {
  display: block;
}
.essential_reason span:not(:first-child) {
  margin-top: 1.25rem;
}

.season, .episodes {
  font-size: var(--fs-3xl);
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 1365px) {
  .season, .episodes {
    font-size: var(--fs-2xl);
  }
}

.season_area,
.episode_area,
.status_area,
.runtime_area,
.broadcast_area,
.companion_area {
  display: block;
  text-align: right;
}

.status, .animated {
  font-size: var(--fs-md);
  font-weight: 700;
}

.runtime_ep, .runtime_total {
  font-size: var(--fs-lg);
  font-weight: 700;
}
@media (max-width: 1365px) {
  .runtime_ep, .runtime_total {
    font-size: var(--fs-md);
  }
}

[class*=_broadcast] {
  font-size: var(--fs-xl);
  font-weight: 500;
}
@media (max-width: 1365px) {
  [class*=_broadcast] {
    font-size: var(--fs-lg);
  }
}

.companions span {
  font-size: clamp(var(--fs-lg), 1.5vw, var(--fs-xl));
  font-weight: 500;
  display: block;
}
.button_area {
  grid-area: buttons;
  grid-column: 3/-1;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 1rem 2rem 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1365px) {
  .button_area {
    margin: 0.5rem 0.5rem 2rem 0.5rem;
  }
}

.button {
  padding: 0.6rem 1.25rem;
  font-family: var(--ff-sans);
  font-size: var(--fs-xl);
  font-weight: 600;
  line-height: 1;
  color: var(--clr-dark-grey-2);
}
.button:hover, .button:active {
  background-color: var(--clr-dark-grey-2);
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.button_essential {
  background-color: var(--essential-button);
  display: none;
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.button_essential:hover, .button_essential:active {
  color: var(--essential-button);
}
.button_castcrew {
  background-color: var(--castcrew-button);
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.button_castcrew:hover, .button_castcrew:active {
  color: var(--castcrew-button);
}
.button_summary {
  background-color: var(--summary-button);
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.button_summary:hover, .button_summary:active {
  color: var(--summary-button);
}
.button_episodes {
  background-color: var(--eps-button);
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.button_episodes:hover, .button_episodes:active {
  color: var(--eps-button);
}
@media (max-width: 1365px) {
  .button {
    font-size: var(--fs-lg);
    padding: 0.6rem 0.75rem;
  }
}

.active_button {
  background-color: var(--clr-dark-grey-2);
}
.active_button:is(.button_essential) {
  color: var(--essential-button);
}
.active_button:is(.button_castcrew) {
  color: var(--castcrew-button);
}
.active_button:is(.button_summary) {
  color: var(--summary-button);
}
.active_button:is(.button_episodes) {
  color: var(--eps-button);
}

#footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  background-color: var(--clr-dark-grey-1);
  grid-area: footer;
  z-index: 2;
  width: 100%;
  min-height: 10rem;
  margin-top: 2.5rem;
}

@media (max-width: 1365px){
  #header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .open_filters {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .sidebar {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .clicked_filters {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
  #container {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
  #footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}

/* CSS DOCUMENT */
/* CSS DOCUMENT */