@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --black: #000;
  --clr-white: #fff;
  --clr-light-grey: #9a9a9a;
  --clr-dark-grey-1: #1a1a1a;
  --clr-dark-grey-2: #161616;
  --light-purple: #d9c4f1;
  --clr-light-blue: #87C0FF;
  --clr-light-green: #8BFF78;
  --dark-blue: #004fa6;
  --bright-red: #bf0000;
  --clr-pale-red: #FF7171;
  --clr-bright-orange: #fc7c0c;
  --clr-dark-yellow: #febc00;
  --clr-bright-yellow: #ffd100;
  --clr-pale-yellow: #FFE76A;
}

:root {
  --ff-serif: "Bitter", serif;
  --ff-sans: "Inter", sans-serif;
  --fs-md: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.75rem;
  --fs-5xl: 2.5rem;
  --fs-header: 5rem;
}

/* CSS DOCUMENT */
:root {
  --clr-text: var(--clr-white);
  --bg: var(--clr-dark-grey-2);
  --container-bg: var(--clr-dark-grey-1);
  --number: var(--clr-light-blue);
  --primary-doctor: var(--clr-bright-orange);
  --h3: var(--clr-dark-yellow);
  --essential-button: var(--clr-dark-yellow);
  --castcrew-button: var(--clr-bright-orange);
  --summary-button: var(--clr-pale-red);
  --opacity-transition: opacity .5s ease-in-out;
  --button-transition: background-color .5s ease-in-out;
}

/*
  GENERAL STYLES
*/
body {
  font-family: var(--ff-sans);
  font-size: var(--fs-md);
  background-color: var(--bg);
  color: var(--clr-text);
  line-height: 1.25;
}

/*
  BASIC STYLES
*/
h1, h2, h3, .number, .doctor {
  font-family: var(--ff-serif);
}

button {
  border: none;
  margin: 0;
}

h1.title {
  font-size: clamp(var(--fs-5xl), 5.5vw, var(--fs-header));
  font-weight: 700;
  color: var(--clr-pale-red);
}

#header {
  z-index: 1;
  background-color: var(--container-bg);
  padding: 2rem 1.5rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav {
  z-index: 1;
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50rem;
  grid-template-columns: 50rem;
  -ms-grid-rows: 1fr 1rem auto;
  grid-template-rows: 1fr auto;
  justify-items: center;
  gap: 1rem;
}

#nav > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#nav > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.filter_area {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.extra_categories {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 46rem;
  padding: 1rem;
  background-color: var(--clr-dark-grey-2);
}

.filters {
  font-family: var(--ff-sans);
  background-color: var(--clr-light-blue);
  color: var(--clr-dark-grey-2);
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
  line-height: 1;
}
.filters:hover, .filters:active {
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
  background-color: var(--clr-dark-grey-2);
  color: var(--clr-light-blue);
}
.filters:is(.filters_essential) {
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
  background-color: var(--clr-dark-yellow);
}
.filters:is(.filters_essential):hover, .filters:is(.filters_essential):active {
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
  background-color: var(--clr-dark-grey-2);
  color: var(--clr-dark-yellow);
}

.filters_main, .filters_essential, .filters_more {
  z-index: 1;
  font-size: var(--fs-2xl);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 0.75rem 1.5rem;
}

.filter_button {
  background-color: var(--clr-dark-grey-2);
  color: var(--clr-light-blue);
}
.filter_button:is(.filters_essential) {
  background-color: var(--clr-dark-grey-2);
  color: var(--clr-dark-yellow);
}

.extra_filters {
  --transition: .3s cubic-bezier(.5,-0.53,.14,1.23);
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: var(--opacity-transition);
  transition: var(--opacity-transition);
  width: min(45rem, 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--bg);
}
.extra_filters .filters {
  font-size: var(--fs-xl);
  min-width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0.5 auto;
          flex: 0 0.5 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.extra_filters .filters:hover, .extra_filters .filters:active {
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.extra_filters:is(.hide) {
  display: none;
  max-height: 0;
}

.clicked_buttons {
  display: none;
  width: min(45rem, 100%);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--clr-dark-grey-2);
}
.clicked_buttons .filters {
  font-size: var(--fs-xl);
  min-width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0.5 auto;
          flex: 0 0.5 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.clicked_buttons .filters:hover, .clicked_buttons .filters:active {
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}

#container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.story {
  z-index: 1;
  margin: 2.5rem 2rem;
  width: min(55rem, 100%);
  min-height: 28.125rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 2fr;
  grid-template-columns: 1fr auto 2fr;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
}

.story > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.story > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.story > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.story > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.story > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.story > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.story h2 {
  font-size: var(--fs-3xl);
}
.story h3 {
  font-size: var(--fs-md);
  color: var(--h3);
  font-weight: 600;
}

.essential {
  border: 1.5px solid var(--clr-dark-yellow);
  -webkit-box-shadow: 5px 5px 0px 0px var(--clr-dark-yellow);
          box-shadow: 5px 5px 0px 0px var(--clr-dark-yellow);
}

/*
  DIFFERENT AREAS OF THE STORY CONTAINER
*/
.poster_area {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 21rem;
  margin-right: 10px;
}

.title_area {
  padding: 2.25rem 1.5rem 1rem;
  border-bottom: 1px solid var(--clr-med-grey);
  grid-column: 3/-1;
  -ms-grid-row: 1;
  grid-row: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.number {
  color: var(--number);
  font-size: var(--fs-xl);
  font-weight: 800;
  margin: 0.25rem;
  border-radius: 5px;
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
}

.story_title {
  line-height: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0.25rem;
}

.doctor_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.doctor {
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.doctor span {
  font-size: var(--fs-xl);
  color: var(--clr-pale-red);
  font-weight: 600;
  border-radius: 5px;
  margin: 0.2rem 0.5rem;
}
.doctor span:first-child {
  color: var(--primary-doctor);
  font-size: var(--fs-2xl);
}

.info_area {
  background-color: var(--container-bg);
  grid-column: 2/-1;
  grid-row: 2/-1;
}

.production_info {
  height: 21rem;
  margin: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.basic_info {
  opacity: 1;
  -webkit-transition: var(--opacity-transition);
  transition: var(--opacity-transition);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.castcrew_info {
  opacity: 0;
  height: 0;
  -webkit-transition: var(--opacity-transition);
  transition: var(--opacity-transition);
  visibility: hidden;
  overflow: auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  justify-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.castcrew_info span {
  font-size: var(--fs-lg);
  font-weight: 500;
  display: block;
}

.info_divs {
  margin: 1.5rem 2rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.season, .episodes {
  font-size: var(--fs-3xl);
  font-weight: 700;
  line-height: 1;
}

.status, .animated {
  font-size: var(--fs-md);
  font-weight: 700;
}

.runtime_ep, .runtime_total {
  font-size: var(--fs-lg);
  font-weight: 700;
}

[class*=_broadcast] {
  font-size: var(--fs-xl);
  font-weight: 500;
}

.season_area,
.episode_area,
.status_area,
.runtime_area,
.broadcast_area,
.companion_area {
  display: block;
  text-align: right;
}

.companions span {
  font-size: var(--fs-xl);
  font-weight: 500;
  display: block;
}

.button_area {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 1rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.button {
  padding: 0.6rem 1.25rem;
  font-family: var(--ff-sans);
  font-size: var(--fs-xl);
  font-weight: 600;
  line-height: 1;
  color: var(--clr-dark-grey-2);
}
.button:hover, .button:active {
  background-color: var(--clr-dark-grey-2);
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.button_essential {
  background-color: var(--essential-button);
  display: none;
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.button_essential:hover, .button_essential:active {
  color: var(--essential-button);
}
.button_castcrew {
  background-color: var(--castcrew-button);
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.button_castcrew:hover, .button_castcrew:active {
  color: var(--castcrew-button);
}
.button_summary {
  background-color: var(--summary-button);
  -webkit-transition: var(--button-transition);
  transition: var(--button-transition);
}
.button_summary:hover, .button_summary:active {
  color: var(--summary-button);
}

.active_button {
  background-color: var(--clr-dark-grey-2);
}
.active_button:is(.button_essential) {
  color: var(--essential-button);
}
.active_button:is(.button_castcrew) {
  color: var(--castcrew-button);
}
.active_button:is(.button_summary) {
  color: var(--summary-button);
}

.summary_info {
  padding: 0 1rem;
  height: 0;
  visibility: hidden;
  opacity: 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  overflow: scroll;
  -webkit-transition: var(--opacity-transition);
  transition: var(--opacity-transition);
}

.show {
  visibility: visible;
  height: auto;
  opacity: 1;
  -webkit-transition: var(--opacity-transition);
  transition: var(--opacity-transition);
  z-index: 1;
}

.hide {
  padding: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: var(--opacity-transition);
  transition: var(--opacity-transition);
}

.summary {
  font-size: var(--fs-lg);
}
.summary span {
  display: block;
}
.summary span:not(:first-child) {
  margin-top: 1rem;
}

.essential_area {
  z-index: 0;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-property: max-height, opacity;
  transition-property: max-height, opacity;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  grid-row: 3/-1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.essential_area .arrow_area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.essential_area :is(.arrow) {
  --arrow-color: var(--clr-light-blue);
  width: 2px;
  height: 3rem;
  background-color: var(--arrow-color);
  display: block;
  margin: 2rem 0 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.essential_area :is(.arrow)::after {
  content: "⬥";
  font-size: var(--fs-2xl);
  color: var(--arrow-color);
  position: absolute;
  margin-top: 2.48rem;
  margin-left: -10px;
}
.essential_area:is(.show) {
  visibility: visible;
  -webkit-transition-property: max-height, opacity;
  transition-property: max-height, opacity;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  opacity: 1;
}
.essential_area:is(.hide) {
  -webkit-transition: var(--opacity-transition);
  transition: var(--opacity-transition);
  -webkit-animation: hide 0.5s linear;
          animation: hide 0.5s linear;
}

.essential_reason {
  padding: 1.5rem;
  font-size: var(--fs-xl);
  background-color: var(--container-bg);
  border: 1.5px solid var(--clr-dark-yellow);
}
.essential_reason span {
  display: block;
}
.essential_reason span:not(:first-child) {
  margin-top: 1.25rem;
}