/* CSS DOCUMENT */
@charset "UTF-8";

@use 'base/reset';
@use 'base/colors';
@use 'base/fonts';

:root {
  --clr-text: var(--clr-white);
  --bg: var(--clr-dark-grey-2);
  --container-bg: var(--clr-dark-grey-1);
  //
  --number: var(--clr-light-blue);
  --primary-doctor: var(--clr-bright-orange);
  --h3: var(--clr-dark-yellow);
  --essential-button: var(--clr-dark-yellow);
  --castcrew-button: var(--clr-bright-orange);
  --summary-button: var(--clr-pale-red);
  --eps-button: #f674c2;
  --opacity-transition: opacity .5s ease-in-out;
  --button-transition: .5s ease-in-out;
}

/*
  GENERAL STYLES
*/
body {
  font-family: var(--ff-sans);
  font-size: var(--fs-md);
  background-color: var(--bg);
  color: var(--clr-text);
  line-height: 1.25;
}

/*
  BASIC STYLES
*/

h1, h2, h3, .number, .doctor {
  font-family: var(--ff-serif);
}


button {
  border: none;
  margin: 0;
}


h1.title {
  font-size: clamp(var(--fs-5xl), 5.5vw, var(--fs-header));
  font-weight: 700;
  color: var(--clr-pale-red);
}

#header {
  // styling
  z-index: 2;
  background-color: var(--container-bg);
  padding: 2rem 1.5rem;
  // positioning
  width: 100%;
  display: grid;
  justify-content: center;
}

#nav {
  z-index: 1;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 50rem;
  grid-template-rows: 1fr auto;
  justify-items: center;
  gap: 1rem;
}

.filter_area {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  gap: 1rem;
  align-items: center;
}

.extra_categories {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  // 
  width: 46rem;
  padding: 1rem;
  background-color: var(--clr-dark-grey-2);
}

.filters {
  --clr-main-filters: var(--clr-light-blue);

  font-family: var(--ff-sans);
  background-color: var(--clr-main-filters);
  color: var(--clr-dark-grey-2);
  transition: var(--button-transition);
  line-height: 1;
  // box-shadow: 4px 4px var(--clr-bright-orange);

  &:hover, &:active {
      transition: var(--button-transition);
      background-color: var(--clr-dark-grey-2);
      color: var(--clr-main-filters);
    }

    &:is(.filters_essential) {
      transition: var(--button-transition);
      color: var(--clr-dark-grey-2);
      background-color: var(--clr-dark-yellow);

      &:hover, &:active {
        transition: var(--button-transition);
        background-color: var(--clr-dark-grey-2);
        color: var(--clr-dark-yellow);
      }
    }
}

.filters_main, .filters_misc, .filters_essential, .filters_more {
  z-index: 1;
  font-size: var(--fs-2xl); // 24px
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5px;
  padding: .75rem 1.5rem;
}

.filters_sort {
  width: 100%;
  text-align: left;
  font-size: var(--fs-lg);
  font-weight: 600;
  padding: .75rem 1rem;
  border-bottom: 1px solid var(--clr-dark-grey-1);
  // 
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.up_arrow::after {
  content: "↑";
  font-size: var(--fs-xl);
  transition: var(--transition);
}

.down_arrow::after {
  content: "↑";
  transition: var(--transition);
  font-size: var(--fs-xl);
  transform: rotate(180deg);
}

.sort_select {
  position: relative;
  width: 15rem;
  max-width: 100%;

  &.active .select_dropdown {
    opacity: 1;
    visibility: visible;
    transition: var(--button-transition);
  }
}

.select_button {
  // styling
  font-size: var(--fs-lg);
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: .5px;
  background-color: var(--clr-light-blue);
  padding: .75rem 1.5rem;
  width: 100%;
  // positioning
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected_value span {
  text-align: right;
}

.select_dropdown {
  // styling
  width: 100%;
  font-weight: 500;
  list-style: none;
  position: absolute;
  margin-top: 1px;
  // positioning
  opacity: 0;
  visibility: hidden;
  transition: var(--button-transition);
}


.filter_button {
  background-color: var(--clr-dark-grey-2);
  color: var(--clr-light-blue);

  &:is(.filters_essential) {
    background-color: var(--clr-dark-grey-2);
    color: var(--clr-dark-yellow);
  }
}

.extra_filters {
  --transition: .3s cubic-bezier(.5,-0.53,.14,1.23);
  // positioning
  z-index: 0;
  opacity: 0;
  // max-height: 0;
  visibility: hidden;
  // transition-property: opacity;
  transition: var(--opacity-transition);
  // margin-top: -2rem;
  width: min(45rem, 100%);
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  gap: .5rem;
  padding: 1rem;
  // styling
  background-color: var(--bg);

  .filters {
    font-size: var(--fs-xl);
    min-width: 4rem;
    display: flex;
    flex: 0 0.5 auto;
    justify-content: center;
    font-weight: 600;
    text-transform: capitalize;
    padding: .5rem 1rem;
    transition: var(--button-transition);

    &:hover, &:active {
      transition: var(--button-transition);
    }
  }

  // &:is(.show) {
  //   opacity: 1;
  //   display: flex;
  //   transition-property: opacity;
  //   transition: var(--transition);
  //   max-height: auto;
  // }

  &:is(.hide) {
    // visibility: hidden;
    display: none;
    // transition-property: opacity;
    // transition: var(--transition);
    max-height: 0;
  }
}

.clicked_buttons {
  display: none;
  width: min(45rem, 100%);
  padding: 1rem;
  // background-color: var(--clr-dark-grey-2);
  // display: flex;
  align-items: center;
  
  .filters {
    font-size: var(--fs-xl);
    min-width: 4rem;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    font-weight: 600;
    text-transform: capitalize;
    padding: .5rem 1rem;
    transition: var(--button-transition);

    &:hover, &:active {
      transition: var(--button-transition);
    }
  }
}

.active_buttons {
  gap: .5rem;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;

  .filters {
    display: flex;
    align-items: center;
  }

  .filters::after {
    font-weight: 700;
    padding-left: 8px;
    font-size: var(--fs-md);
    color: var(--clr-bright-red);
    content: "✕";
  }
}

.clear_filters {
  --background-color: var(--clr-med-grey);
  // styling
  font-size: var(--fs-lg);
  font-weight: 600;
  background-color: var(--background-color);

  // positioning
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  padding: .5rem .75rem;
  margin-left: 1rem;
  transition: var(--button-transition);

  &:hover, &:active {
    background-color: var(--clr-bright-red);
    transition: var(--button-transition);
  }
}

#container {
  width: 100%;
  display: grid;
  justify-items: center;
  position: relative;
  z-index: 0;
}

.story {
  // padding: 1rem;
  z-index: 1;
  margin: 2.5rem 2rem;
  width: min(55rem, 100%);
  min-height: 28.125rem;
  display: grid;
  grid-template-columns: 1fr auto 2fr;
  grid-template-rows: auto 1fr;


  h2 {
    font-size: var(--fs-3xl);
  }

  h3 {
    font-size: var(--fs-md);
    color: var(--h3);
    font-weight: 600;
  }
}

.essential {
  border: 1.5px solid var(--clr-dark-yellow);
  box-shadow: 5px 5px 0px 0px var(--clr-dark-yellow);
}

/*
  DIFFERENT AREAS OF THE STORY CONTAINER
*/

.poster_area {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  width: 21rem;
  margin-right: 10px;
}

// title_area contains: NUMBER, TITLE, DOCTOR, AND RATING
.title_area {
  // styling
  padding: 2.25rem 2rem 1.5rem;
  border-bottom: 1px solid var(--clr-med-grey);
  background-color: #1d1c1c;
  // positioning
  grid-column: 3 / -1;
  grid-row: 1 / 1;
  display: inline-flex;
  width: 100%;
  flex: 1 1 auto;
  align-items: center;
}

.title_1 {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.number {
  // styling
  color: var(--number);
  font-size: var(--fs-xl);
  font-weight: 800;
  margin: .25rem;
  border-radius: 5px;
  // positioning
  align-self: self-end;
}

.story_title {
  // styling
  line-height: 1;
  // positioning
  // flex: 1 1 auto;
  // justify-self: flex-start;
  // align-self: flex-end;
  margin: .25rem;
}

.doctor_area {
  // styling
  // positioning
  display: flex;
  flex: 0 0 100%;
  align-self: center;
}

.doctor {
  // 
  line-height: 1;
  // 
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: baseline;
}

.doctor span {
  // styling
  font-size: var(--fs-md);
  color: var(--clr-pale-red);
  font-weight: 600;
  border-radius: 5px;
  // positioning
  margin: .2rem .3rem;

  &:first-child {
    color: var(--primary-doctor);
    font-size: var(--fs-2xl);
  }
}

.rating_area {
  // styling
  // background-color: #1d1c1c;
  // positioning
  // display: flex;
  // flex: 0 0 100%;
  // justify-content: flex-end;
  // align-items: center;
  // align-self: center;
}

.rating {
  // styling
  font-size: var(--fs-xl);
  font-weight: 700;
  color: var(--clr-dark-grey-1);
  background-color: var(--clr-bright-yellow);
  padding: .25rem .75rem;
  border-radius: 5px;
  text-align: center;
  // positioning
  transition: var(--button-transition);

  // &:hover {
  //   background-color: var(--clr-dark-grey-1);
  //   color: var(--clr-bright-yellow);
  //   transition: var(--button-transition);
  // }

  // &:hover span {
  //   display: none;
  //   transition: var(--button-transition);
  // }

  // &:hover:before {
  //   font-size: var(--fs-xl);
  //   content: "imdb";
  //   transition: var(--button-transition);
  // }
}

// info_area contains: DOCTOR, COMPANIONS, SEASON, EPISODES, SUMMARY, FIRST AND LAST BROADCAST
.info_area {
  // styling
  // padding: 1rem;
  background-color: var(--container-bg);
  // positioning
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

// production_info contains: SEASON, EPISODES, BROADCAST DATES
.production_info {
  // styling
  height: 21rem;
  margin: 1rem;
  // positioning
  display: grid;
  grid-template-columns: 1fr;
}

.basic_info {
  opacity: 1;
  transition: var(--opacity-transition);
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
  align-content: space-between;
  align-items: stretch;
  justify-items: center;
  justify-content: center;
  // 
  // display: none;
}

.castcrew_info {
  opacity: 0;
  height: 0;
  transition: var(--opacity-transition);
  visibility: hidden;
  overflow: auto;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
  align-content: stretch;
  align-items: start;
  justify-items: start;
  justify-content: center;

  span {
    font-size: var(--fs-lg);
    font-weight: 500;
    display: block;
  }
}

.episodes_info {
  opacity: 0;
  height: 0;
  transition: var(--opacity-transition);
  visibility: hidden;
  overflow: auto;
}

.info_divs {
    margin: 1.5rem 2rem 0 1rem;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    justify-content: space-evenly;
}

.season, .episodes {
  font-size: var(--fs-3xl);
  font-weight: 700;
  line-height: 1;
}

.status, .animated {
  font-size: var(--fs-md);
  font-weight: 700;
}

.runtime_ep, .runtime_total {
  font-size: var(--fs-lg);
  font-weight: 700;
}

[class*=_broadcast] {
  font-size: var(--fs-xl);
  font-weight: 500;
}

.season, 
.episode, 
.status,
.runtime,
.broadcast,
.companion {
  &_area {
  // styling
  // positioning
  display: block;
  text-align: right;
  }
}

.companions span {
  // styling
  font-size: var(--fs-xl);
  font-weight: 500;
  // positioning
  display: block;
}

.eps_area {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.ep_info {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: .5rem;
  margin: .75rem;
  border: 1px solid var(--clr-med-grey);
}

.episode_name {
  // styling
  font-size: var(--fs-xl);
  font-weight: 600;
  color: var(--clr-dark-yellow);
  // positioning
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--clr-med-grey);
}

.ep_number, .ep_date, .ep_runtime, .ep_viewers, .ep_rating {
  // styling
  font-size: var(--fs-lg);
  font-weight: 600;
  // positioning
  padding-top: .5rem;
  display: inline-flex;
}

.button_area {
  grid-column: 1 / 3;
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  margin: 1rem 0;
  justify-content: center;
  align-items: flex-end;
}

.button {
  // styling
  padding: .6rem 1.25rem;
  font-family: var(--ff-sans);
  font-size: var(--fs-lg);
  font-weight: 600;
  line-height: 1;
  color: var(--clr-dark-grey-2);

  &:hover, &:active {
    background-color: var(--clr-dark-grey-2);
    transition: var(--button-transition);
  }

  &_essential {
    background-color: var(--essential-button);
    display: none;
    transition: var(--button-transition);
    &:hover, &:active {
      color: var(--essential-button);
    }
  }

  &_castcrew {
    background-color: var(--castcrew-button);
    transition: var(--button-transition);
    &:hover, &:active  {
      color: var(--castcrew-button);
    }
  }

  &_summary {
    background-color: var(--summary-button);
    transition: var(--button-transition);
    &:hover, &:active  {
      color: var(--summary-button);
    }
  }
  
  &_episodes {
    background-color: var(--eps-button);
    transition: var(--button-transition);

    &:hover, &:active {
      color: var(--eps-button);
    }
  }
}

.active_button {
  background-color: var(--clr-dark-grey-2);
  &:is(.button_essential) {
    color: var(--essential-button);
  }

  &:is(.button_castcrew) {
    color: var(--castcrew-button);
  }

  &:is(.button_summary) {
    color: var(--summary-button);
  }
  &:is(.button_episodes) {
    color: var(--eps-button);
  }
}

.summary_info {
  // styling
  padding: 0 1rem;
  height: 0;
  visibility: hidden;
  opacity: 0;
  // positioning
  grid-column: 1 / 3;
  overflow: scroll;
  transition: var(--opacity-transition);
}

.show {
    visibility: visible;
    height: auto;
    opacity: 1;
    transition: var(--opacity-transition);
    z-index: 1;
}

.hide {
  padding: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: var(--opacity-transition);
}

.summary {
  font-size: var(--fs-lg);

  span {
    display: block;
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

.essential_area {
  // hide
  z-index: 0;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  transition-property: max-height, opacity;
  transition: .5s ease;
  // styling
  // positioning
  grid-column: 1 / 4;
  grid-row: 3 / -1;
  justify-content: center;

  .arrow_area {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  :is(.arrow) {
    --arrow-color: var(--clr-light-blue);
    // styling
    width: 2px;
    height: 3rem;
    background-color: var(--arrow-color);
    // positioning
    display: block;
    margin: 2rem 0 3rem;
    justify-content: center;

    &::after {
      content: "⬥";
      font-size: var(--fs-2xl);
      color: var(--arrow-color);
      position: absolute;
      margin-top: 2.48rem;
      margin-left: -10px;
    }
  }

  &:is(.show) {
    visibility: visible;
    transition-property: max-height, opacity;
    transition: .5s linear;
    opacity: 1;
  }

  &:is(.hide) {
    transition: var(--opacity-transition);
    animation: hide .5s linear;
  }
}

.essential_reason {
  // styling
  padding: 1.5rem;
  font-size: var(--fs-xl);
  background-color: var(--container-bg);
  border: 1.5px solid var(--clr-dark-yellow);

  span {
    display: block;
    &:not(:first-child) {
      margin-top: 1.25rem;
    }
  }
}