:root {
  --black: #000;
  --clr-white: #fff;
  --clr-light-grey: #9a9a9a;
  --clr-med-grey: #232323;
  --clr-med-grey-2: #1d1c1c;
  --clr-dark-grey-1: #1a1a1a;
  --clr-dark-grey-2: #161616;
  --clr-light-purple: #d9c4f1;
  --clr-light-blue: #87C0FF;
  --clr-light-green: #8BFF78;
  --clr-dark-blue: #2874c6;
  --clr-bright-red: #bf0000;
  --clr-pale-red: #FF7171;
  --clr-bright-red: #de4747;
  --clr-bright-orange: #fc7c0c;
  --clr-dark-yellow: #febc00;
  --clr-bright-yellow: #ffd100;
  --clr-pale-yellow: #FFE76A;
  --clr-pale-pink: #f674c2;
}