:root {
  --black: #000;
  --white: #fff;
  --light-grey: #9a9a9a;
  --dark-grey1: #1a1a1a;
  --dark-grey2: #161616;
  --light-purple: #d9c4f1;
  --light-blue: #7c9cff;
  --dark-blue: #004fa6;
  --bright-red: #bf0000;
  --orange: #fc7c0c;
  --dark-yellow: #febc00;
  --bright-yellow: #ffd100;

}