/* CSS DOCUMENT */
@charset "UTF-8";

@use 'base';
//
@use '../abstracts/mixins' as *;

.filters_button {
  // grid-area: filter-button;
  // grid-row: 4 / 5;
  max-width: fit-content;
  display: none;
  justify-content: center;
  margin: 0 2rem;
  z-index: 3;

  @media ($tablet) {
    // positioning
    grid-row: 4 / 5;
    display: flex;
  }

  @media ($mobile) {
    grid-row: 2 / 3;
    margin: 0;
    padding: 0 1rem;
  }
}

.open_filters {
  max-width: min-content;
  display: flex;
  gap: .5rem;
  align-items: center;
  // styling
  font-family: var(--ff-sans);
  font-size: var(--fs-xl);
  font-weight: 600;
  // text-transform: uppercase;
  background-color: var(--clr-dark-grey-2);
  color: var(--clr-light-blue);
  border: 1px solid var(--clr-light-blue);
  padding: .5rem 1rem;
  margin: 1rem 0rem;
  // 
  transition: var(--button-transition);

  &:hover, &:focus, &:active, &.active {
    color: var(--clr-med-grey);
    background-color: var(--clr-light-blue);
    transition: var(--button-transition);
  }

  &.scroll {
    font-size: var(--fs-lg);
    padding: .25rem .75rem;
  }
  
  i {
    font-size: var(--fs-lg);
  }

  &::after {
      content: "Filters";
  }

  @media ($mobile) {
    gap: 0;
    
    &::after {
      content: "";
    }
  }
}

.filters_icon {
  display: inline-flex;

  i {
    @media ($mobile) {
      font-size: var(--fs-xl);
    }
  }
}

.sidebar_buttons {
  display: none;

  @media ($tablet) {
    display: flex;
    flex: 1 1 auto;
    padding: 1rem;
  }

  .clear_filters {
    // styling
    font-size: var(--fs-2xl);
    color: var(--clr-light-grey);
    width: 80%;

    &.active {
      color: var(--clr-light-blue);
    }
  }

  .fa-rotate-right {
    font-size: var(--fs-xl);
  }
}

.close_filters {
  // styling
  font-size: var(--fs-4xl);
  color: var(--clr-pale-red);
  // positioning
  width: 20%;
  // margin: 0rem 4.5rem 0rem 0rem;
  // padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.sidebar {
  background-color: var(--clr-dark-grey-2);
  // positioning
  grid-area: sidebar;
  grid-row: 3 / 4;
  width: min(26.875rem, 100%);
  height: 80%;
  padding: 0 4rem;
  position: fixed;
  top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: auto;
  scrollbar-width: thin;
  z-index: 4;
  scrollbar-color: var(--clr-light-blue) var(--clr-dark-grey-2);

  h2 {
    font-size: var(--fs-4xl);
    color: var(--clr-bright-orange);
    // background-color: var(--clr-dark-grey-1);
  }

  @media ($tablet) {
    // positioning
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    margin: 0;
    padding: 2rem; 
    height: 100%;
    visibility: hidden;
    overflow-y: scroll;
    transform: translateX(-400px);
    transition: transform .3s ease;

    &.active {
      visibility: visible;
      overflow: auto;
      // max-width: 25rem;
      width: min(25rem, 100%);
      transform: translateX(0);
      transition: transform .3s ease;

      @media ($small-mobile) {
        width: min(26.875rem, 100%);
      }
    }

    // button {
    //   font-size: var(--fs-xl);
    // }
  }

}

.filter_title {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.sorting_filters {
  position: relative;
  margin: 0rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-med-grey-2);
  z-index: 0;

  // &.active .sort_dropdown {
  //   visibility: visible;
  //   transition: .4s ease-out;
  // }
}

#sort_button {
  width: 100%;
  text-align: left;
  // styling
  font-size: var(--fs-2xl);
  font-weight: 600;
  padding: .75rem 1rem;
  color: var(--clr-light-blue);
  background-color: var(--clr-dark-grey-1);
  border-bottom: 1px solid var(--clr-dark-grey-2);
  // 
  display: flex;
  flex-direction: column;
  // gap: .5rem;
  align-items: flex-start;
  //
  transition: var(--button-transition);
  
  &:hover, &:active, &.active {
    transition: var(--button-transition);
    // background-color: var(--clr-light-blue);
    // color: var(--clr-dark-grey-1);
    border-bottom: 1px solid var(--clr-light-blue);
  }

  span:first-child {
    // text-decoration: underline;
  }

  #selected_filter {
    // styling
    font-size: var(--fs-xl);
    color: var(--clr-white);
    // text-decoration: underline;
    // positioning
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    align-items: center;

    i {
      // font-size: var(--fs-2xl);
      color: var(--clr-bright-yellow);
    }
  }
}

.sort_dropdown {
  background-color: var(--clr-med-grey-2);
  //
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  //
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
  transition: .4s ease-in;
  
  &.active {
    visibility: visible;
    transition: .4s ease-out;
  }
}

.sort_filter {
  // styling
  font-size: var(--fs-lg);
  font-weight: 500;
  // 
  width: 100%;
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-med-grey-2);
  // color: var(--clr-light-yellow);
  transition: var(--button-transition);

  &:hover, &:active, &.active {
    transition: var(--button-transition);
    color: var(--clr-light-blue);
    background-color: var(--clr-dark-grey-2);
  }

  &:first-child {
    padding-top: 1rem;
  }

  &:last-child {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--clr-dark-grey-2);
  }
}

.boolean_filters {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  margin: 0rem 0 1rem 0rem;
  // background-color: var(--clr-med-grey-2);
  // padding: 1rem;
  // gap: 10px;
  z-index: 2;
}

.boolean_filter_wrapper {
  // width: 100%;

  .boolean_filter {
    // styling
    font-family: var(--ff-sans);
    font-size: var(--fs-2xl);
    font-weight: 600;
    color: var(--clr-dark-yellow);
    // color: var(--clr-dark-grey-2);
    padding: .25rem 0;
    // transition: var(--button-transition);
    // text-decoration: underline .1rem rgba(22, 22, 22, 1);
    // text-underline-offset: .2em;
    // transition: text-decoration-color .3s;

    background-image: linear-gradient(var(--clr-dark-grey-2), var(--clr-dark-grey-2)), linear-gradient(var(--clr-dark-yellow), var(--clr-dark-yellow));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition:  background-size .3s ease;

    &:hover, &:focus, &:active, &.active {
      background-size: 0 2px, 100% 2px;
      // text-decoration-color: rgba(254, 188, 0, 1);
      transition: var(--button-transition);
      // color: var(--clr-bright-yellow);
      // background-color: var(--clr-med-grey-2);
    }
  }

  &:first-of-type .boolean_filter {
    // color: var(--main-filters);
  }
}

.multi_filters {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem 0rem 0rem;
  // border: 1px solid var(--clr-bright-yellow);
  // box-shadow: 5px 5px 0 0 var(--clr-bright-yellow);

  h3 {
    font-size: var(--fs-2xl);
    color: var(--clr-light-grey);
    //
    padding: .2rem;
    width: 100%;
    text-align: left; 
    margin-bottom: .5rem;
  }
}

.multi_filter {  
  // styling
  width: 100%;
  color: var(--main-filters);
  background-color: var(--clr-dark-grey-1);
  font-family: var(--ff-sans);
  font-size: var(--fs-2xl);
  font-weight: 600;
  padding: .75rem 1rem;
  border-bottom: 1px solid var(--filter-border);
  // positioning
  display: inline-flex;
  align-items: self-end;
  justify-content: space-between;
  gap: 10px;
  z-index: 2;
  transition: var(--button-transition);

  &:hover, &:active, &.active {
    transition: var(--button-transition);
    // background-color: var(--main-filters);
    // color: var(--clr-dark-grey-1);
    border-bottom: 1px solid var(--main-filters);

    .arrow {
       transform: rotate(180deg);
    }
  }

  .category_name {
    width: 90%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }

  .current_filters_number {
      // styling
      font-size: var(--fs-md);
      color: var(--clr-dark-grey-2);
      background-color: var(--clr-dark-yellow);
      // positioning
      width: 1.25rem;
      // padding: 0rem .35rem;
      border-radius: 100%;
      // text-align: center;
    }
  }

.arrow {
  font-size: var(--fs-xl);
  transition: .3s ease-in;

  ion-icon {
    font-size: var(--fs-2xl);
  }

  &:hover, &:focus {
    transition: .3s ease-out;
  }
}

.show_filters {
  // styling
  background-color: var(--clr-med-grey-2);
  // border-bottom: 1px solid var(--clr-dark-grey-1);
  // positioning
  width: 100%;
  position: relative;
  //
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
  z-index: 1;
  transition-property: visibility, max-height;
  transition-duration: .4s;
  transition-timing-function: ease-out;

  // .multi_filters_list:not(.over_max_filters) {
  //   margin: .5rem 0;
  // }

  // .filters_default, .filters_hidden {

  // }

  .filter {
    // styling
    font-family: var(--ff-sans);
    font-size: var(--fs-lg);
    font-weight: 500;
    color: var(--clr-white);
    background-color: var(--clr-med-grey-2);
    width: 100%;
    padding: .5rem 1rem;
    // positioning
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--button-transition);

    &:hover, &:focus, &.active {
      transition: var(--button-transition);
      color: var(--main-filters);
      background-color: var(--clr-dark-grey-2);
    }

    &.active {
      &::after {
        content: "✕";
        font-size: var(--fs-md);
      }
    }

    // &:first-child {
    //   padding-top: 1rem;
    // }

    // &:last-child {
    //   padding-bottom: 1rem;
    // }

  }

  div > span {
    // styling
    font-size: var(--fs-lg);
    font-weight: 600;
    //
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  &.active {
    visibility: visible;
    transition-property: visibility, max-height;
    transition-duration: .4s;
    transition-timing-function: ease-in;
    border-bottom: 1px solid var(--filter-border);
  }

  &.active .show_more {
    transition: .3s ease-in;
  }
}

.search_container {
  display: flex;
  background-color: var(--clr-med-grey);
}

.search_bar {
  // styling
  font-family: var(--ff-sans);
  font-size: var(--fs-lg);
  color: var(--clr-white);
  background-color: var(--clr-med-grey);
  // 
  width: 100%;
  border: none;
  padding: .5rem;
  outline: 0;
  border: 1px solid transparent;

  &:focus, &:focus-within, &:active {
    border: 1px solid var(--clr-light-grey);
  }

  &::placeholder {
 
  }
}

.clear_search {
  font-size: var(--fs-xl);
  padding: .5rem 1rem;
  display: none;

  &:hover, &:focus {
    color: var(--clr-pale-red);
  }

  &.active {
    display: block;
    position: absolute;
    right: 0;
    align-self: center;
  }
}

.show_more {
  // styling
  font-size: var(--fs-lg);
  font-weight: 500;
  color: var(--clr-bright-orange);
  background-color: var(--clr-med-grey-2);
  padding: 0 1rem .5rem;
  width: 100%;
  text-align: left;
  transition: var(--button-transition);

  &:hover, &:focus {
    color: var(--main-filters);
    text-decoration: underline;
    transition: var(--button-transition);
  }
}