/* CSS DOCUMENT */
@charset "UTF-8";

@use 'base';
//
@use '../abstracts/mixins' as *;

.scroll_buttons {
  grid-area: scroll-buttons;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  // positioning
  z-index: 3;
  position: fixed;
  height: 100%;
  right: 4rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1rem;

  @media ($tablet) {
    right: 1rem;
    bottom: 1rem;
  }

  i {
    font-size: 3rem;
    font-weight: 600;
    color: var(--clr-light-blue);
    background-color: var(--clr-dark-grey-2);
    border-radius: 100%;
  }

  .jump_to_top, .jump_to_bottom {
    // positioning
    cursor: pointer;
    scroll-behavior: smooth;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;

    &.active {
      visibility: visible;
      opacity: 1;
      transition: opacity .3s;
    }
  }
}

.stories_displayed {
    // styling
    font-size: var(--fs-2xl);
    font-weight: 600;
    text-transform: lowercase;
    text-align: center;
    // positioning
    margin-top: 1rem;

    .number_of_results {
      font-weight: 700;
      color: var(--clr-bright-yellow);
    }
  }

.blurb {
  width: min(55rem, 100%);
  padding: 0 1rem;
  // 
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: opacity .5 ease-in-out;

  &_description {
    // styling
    font-size: var(--fs-xl);
    background-color: var(--clr-dark-grey-1);
    border: 1px solid var(--clr-med-grey);
    // 
    margin: 2rem 0;

    &[data-filter="Essential"] {
    border: 1.5px solid var(--clr-dark-yellow);
    box-shadow: 5px 5px 0px 0px var(--clr-dark-yellow);
    }

    @media ($mobile) {
      font-size: var(--fs-lg);
    }
  }
  
  p {
    padding: .75rem 1rem;
  }

  &.active {
    transition: opacity .5 ease-in-out;
    visibility: visible;
    opacity: 1;
    max-height: fit-content;
  }
}  

#container {
  width: 100%;
  // 
  grid-area: container;
  display: flex;
  flex-direction: column;
  // justify-items: center;
  align-items: center;
  z-index: 0;
  padding: 0rem 1rem;
}

#stories_container {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 0 1rem;
}

.story {
  // padding: 1rem;
  z-index: 1;
  margin: 2.5rem 2rem;
  width: min(55rem, 100%);
  display: grid;
  grid-template-columns: 1fr auto 2fr;
  grid-template-rows: auto 1fr;

  h3 {
    font-size: var(--fs-md);
    color: var(--h3);
    font-weight: 600;
  }

  // for tablet
  @media ($tablet) {
      width: min(50rem, 100%);
      grid-template-columns: 1.5fr auto 2.5fr;
  }

  // for mobile
  @media ($mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "poster"
    "info"
    ;
  }
}

.essential {
  border: 1.5px solid var(--clr-dark-yellow);
  box-shadow: 5px 5px 0px 0px var(--clr-dark-yellow);
}

/*
  DIFFERENT AREAS OF THE STORY CONTAINER
*/

.poster_area {
  grid-area: poster;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  width: 21rem;
  margin-right: 10px;

  // for tablet
  @media ($tablet) {
    width: auto;
  }

  @media ($mobile) {
    grid-row: 1 / 1;  
    width: 100%;
    max-height: 13rem;

    &.essential_poster {
      border: 1.5px solid var(--clr-dark-yellow);
      box-shadow: 5px 5px 0px 0px var(--clr-dark-yellow);
    }
  }
}

.poster {
  object-fit: cover;

  @media ($tablet) {
    width: auto;
    object-fit: cover;
  }

  @media ($mobile) {
    width: 100%;
    max-height: inherit;
    object-fit: cover;
    object-position: 0 80%;  
  }
}

// info_area contains: NUMBER, TITLE, DOCTOR, COMPANIONS, SEASON, EPISODES, SUMMARY, FIRST AND LAST BROADCAST
.info_area {
  // styling
  // padding: 1rem;
  background-color: var(--container-bg);
  // positioning
  grid-area: info;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  // 
  display: flex;
  flex-direction: column;

  @media ($mobile) {
   height: fit-content;
  }
}

// title_area contains: NUMBER, TITLE, DOCTOR, AND RATING
.title_area {
  // styling
  padding: 2.25rem 2rem 1.5rem;
  border-bottom: 1px solid var(--clr-med-grey);
  background-color: #1d1c1c;
  // positioning
  grid-column: 3 / -1;
  grid-row: 1 / 1;
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  gap: .5rem;
  align-items: center;
  justify-content: space-between;

  @media ($mobile) {
    padding: 1.75rem 1.5rem 1rem;
  }
}

.title_1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .25rem;
    align-items: baseline;
    // line-height: 25px;

    @media ($mobile) {
      gap: 0rem;
    }
}

.number {
  // styling
  color: var(--number);
  font-size: var(--fs-xl);
  font-weight: 800;
  // positioning
  margin-right: 10px;

  @media ($mobile) {
    font-size: var(--fs-md);
    margin-right: 5px;
  }
}

.story_title {
  // styling
  font-size: var(--fs-3xl);
  //

  @media ($tablet) {
    font-size: var(--fs-2xl);
  }

  @media ($mobile) {
    font-size: var(--fs-xl);
  }
}

.doctor_area {
  // styling
  // positioning
  display: flex;
  flex: 0 0 100%;
  align-self: center;
}

.doctor {
  // positioning
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: baseline;
  // gap: .25rem;

  @media ($mobile) {
    // gap: .15rem;
  }
}

.doctor span {
  // styling
  font-size: var(--fs-md);
  color: var(--clr-pale-red);
  font-weight: 600;
  line-height: 20px;
  // positioning

  &:not(:first-child, :last-child) {
    &::after
      {
        content: "◦";
        font-family: var(--ff-sans);
        color: var(--clr-white);
        font-weight: 600;
        padding: 0 .2rem;
      }
  }

  // &:nth-child(2) {
  //   &::before {
  //     content: "Multi Doctor: ";
  //     color: var(--clr-white);
  //       font-weight: 600;
  //   }
  // }

  &:first-child {
    color: var(--primary-doctor);
    font-size: var(--fs-2xl);
    flex-basis: 100%;

    @media ($tablet) {
      font-size: var(--fs-xl);
    }

    @media ($mobile) {
      font-size: var(--fs-lg);
    }
  }

}

.rating {
  // styling
  font-size: var(--fs-xl);
  font-weight: 700;
  color: var(--clr-dark-grey-1);
  background-color: var(--clr-bright-yellow);
  padding: .25rem .75rem;
  border-radius: 5px;
  text-align: center;
  // positioning
  transition: var(--button-transition);

  // &:hover {
  //   background-color: var(--clr-dark-grey-1);
  //   color: var(--clr-bright-yellow);
  //   transition: var(--button-transition);
  // }

  // &:hover span {
  //   display: none;
  //   transition: var(--button-transition);
  // }

  // &:hover:before {
  //   font-size: var(--fs-xl);
  //   content: "imdb";
  //   transition: var(--button-transition);
  // }

  @media ($mobile) {
    font-size: var(--fs-md);
    padding: .25rem .5rem;
  }
}

// production_info contains: SEASON, EPISODES, BROADCAST DATES
.production_info {
  // styling
  // max-height: 16rem;
  max-height: minmax(12.5rem, 16rem);
  margin: 1rem;
  // positioning
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: center;

  @media ($tablet) {
    // max-height: 12.5rem;
  }

  @media ($mobile) {
  }
}

.basic_info {
  opacity: 1;
  transition: var(--opacity-transition);
  grid-area: info;
  grid-column: 1 / 3;
  // 
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: stretch;
  
  @media ($mobile) {
    justify-content: space-between;
  }
}

.close_tab {
  // styling
  font-size: var(--fs-3xl);
  font-weight: 800;
  // positioning
  position: absolute;
  right: 0;
  // padding-right: 1rem;
  // margin-right: 1rem;
}

.castcrew_info {
  position: relative;
  opacity: 0;
  height: 0;
  transition: var(--opacity-transition);
  visibility: hidden;
  overflow: hidden;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
  align-content: stretch;
  align-items: start;
  justify-items: start;
  justify-content: center;

  span {
    font-size: var(--fs-lg);
    font-weight: 500;
    display: block;
  }
}

.summary_info {
  position: relative;
  // styling
  // padding: 0 1rem;
  height: 0;
  visibility: hidden;
  opacity: 0;
  // positioning
  grid-column: 1 / 3;
  overflow: scroll;
  transition: var(--opacity-transition);
}

.episodes_info {
  position: relative;
  opacity: 0;
  height: 0;
  transition: var(--opacity-transition);
  visibility: hidden;
  overflow: auto;
}

.info_divs {
    margin: 1.5rem 1.5rem 0 1.5rem;
    padding-top: 1rem;
    // flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .5rem;

    @media ($mobile) {
      margin: 1rem 0;
    }
}

.summary {
  font-size: var(--fs-lg);

  span {
    display: block;
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

.eps_area {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.ep_info {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: .5rem;
  margin: .75rem;
  border: 1px solid var(--clr-med-grey);
}

.episode_name {
  // styling
  font-size: var(--fs-xl);
  font-weight: 600;
  color: var(--clr-dark-yellow);
  // positioning
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--clr-med-grey);
}

.ep_number, .ep_date, .ep_runtime, .ep_viewers, .ep_rating {
  // styling
  font-size: var(--fs-lg);
  font-weight: 600;
  // positioning
  padding-top: .5rem;
  display: inline-flex;
}

.show {
    visibility: visible;
    height: 16rem;
    overflow: auto;
    opacity: 1;
    z-index: 0;
    transition: var(--opacity-transition);

    @media ($tablet) {
      height: 12.5rem;;
    }

    @media ($mobile) {
      height: fit-content;
    }
}

.hide {
  padding: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: var(--opacity-transition);
}

.essential_area {
  // hide
  z-index: 0;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: visible;
  transition-property: max-height, opacity;
  transition: .5s ease;
  // styling
  // positioning
  grid-column: 1 / 4;
  grid-row: 3 / -1;
  justify-content: center;

  .arrow_area {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  :is(.arrow) {
    --arrow-color: var(--clr-light-blue);
    // styling
    width: 2px;
    height: 3rem;
    background-color: var(--arrow-color);
    // positioning
    display: block;
    margin: 2rem 0 3rem;
    justify-content: center;

    &::after {
      content: "⬥";
      font-size: var(--fs-2xl);
      color: var(--arrow-color);
      position: absolute;
      margin-top: 2.48rem;
      margin-left: -11px;
    }
  }

  &.show {
    visibility: visible;
    transition-property: max-height, opacity;
    transition: .5s linear;
    height: auto;
    opacity: 1;
  }

  &:is(.hide) {
    transition: var(--opacity-transition);
    animation: hide .5s linear;
  }
}

.essential_reason {
  // styling
  padding: 1.5rem;
  font-size: var(--fs-xl);
  background-color: var(--container-bg);
  border: 1.5px solid var(--clr-dark-yellow);

  span {
    display: block;
    &:not(:first-child) {
      margin-top: 1.25rem;
    }
  }
}

.season, .episodes {
  font-size: var(--fs-3xl);
  font-weight: 700;
  line-height: 1;

  @media ($tablet) {
    font-size: var(--fs-2xl);
  }

  @media ($mobile) {
    // font-size: var(--fs-xl);
  }
}

.season, 
.episode, 
.status,
.runtime,
.broadcast,
.companion {
  &_area {
  // styling
  // positioning
  display: block;
  text-align: left;
  }
}

.status, .animated {
  font-size: var(--fs-md);
  font-weight: 700;
}

.runtime_ep, .runtime_total {
  font-size: var(--fs-lg);
  font-weight: 700;

  @media ($tablet) {
    font-size: var(--fs-md);
  }
}

[class*=_broadcast] {
  font-size: var(--fs-xl);
  font-weight: 500;

  @media ($tablet) {
    font-size: var(--fs-lg);
  }
}

.companions span {
  // styling
  // font-size: var(--fs-xl);
  font-size: clamp(var(--fs-lg), 1.5vw, var(--fs-xl));
  font-weight: 500;
  // positioning
  display: block;

  @media ($tablet) {
    // font-size: var(--fs-lg);
  }
}

.button_area {
  width: auto;
  display: inline-flex;
  flex-direction: row;
  // flex-wrap: wrap;
  // flex: 1 1 auto;
  margin: 1rem 1rem 2rem 1rem;
  // justify-content: center;
  // align-items: stretch;

  @media ($tablet) {
    margin: .5rem .5rem 2rem .5rem;
  }

  @media ($mobile) {
    margin: 0;
  }
}

.button {
  // styling
  padding: .6rem 1.25rem;
  flex: 1 1 auto;
  font-family: var(--ff-sans);
  font-size: var(--fs-xl);
  font-weight: 600;
  line-height: 1;
  color: var(--clr-dark-grey-2);

  &:hover {
    background-color: var(--clr-dark-grey-2);
    transition: var(--button-transition);
  }

  &_essential {
    background-color: var(--essential-button);
    display: none;
    transition: var(--button-transition);
    &:hover, &:active {
      color: var(--essential-button);
    }
  }

  &_castcrew {
    background-color: var(--castcrew-button);
    transition: var(--button-transition);
    &:hover, &:active  {
      color: var(--castcrew-button);
    }
  }

  &_summary {
    background-color: var(--summary-button);
    transition: var(--button-transition);
    &:hover, &:active  {
      color: var(--summary-button);
    }
  }
  
  &_episodes {
    background-color: var(--episodes-button);
    transition: var(--button-transition);

    &:hover, &:active {
      color: var(--episodes-button);
    }
  }

  // for tablet
  @media ($tablet) {
    font-size: var(--fs-lg);
    padding: .6rem .75rem;
  }

  @media ($mobile) {
    padding: .6rem .5rem;
  }
}

.active_button {
  background-color: var(--clr-dark-grey-2);
  &:is(.button_essential) {
    color: var(--essential-button);
  }

  &:is(.button_castcrew) {
    color: var(--castcrew-button);
  }

  &:is(.button_summary) {
    color: var(--summary-button);
  }
  &:is(.button_episodes) {
    color: var(--episodes-button);
  }
}

#pagination {
  // background-color: var(--clr-dark-grey-1);
  grid-area: pagination;
  grid-column: 2 / 3;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: .5rem;

  @media ($mobile) {
    grid-column: 1 / 1;    
    // a:nth-child(4), a:nth-child(6) {
    //   display: none;
    // }
  }

  a {
    text-decoration: none;
    font-size: var(--fs-2xl);
    font-weight: 600;
    color: var(--clr-light-blue);
    background-color: var(--clr-dark-grey-1);
    border-bottom: 2px solid var(--clr-dark-grey-1);
    padding: .5rem 1rem;
    transition: .2s linear;

    &:hover, &.active {
      transition: .2s linear;
      border-bottom: 2px solid var(--clr-dark-yellow);
    }
    
    @media ($mobile) {
      font-size: var(--fs-2xl);
    }
  }

  #first_page, #last_page {
    display: none;
  }

  .dots {
    font-size: .5rem;
    padding: .5rem;
    color: var(--clr-light-blue);
    display: none;
  }
}


#footer {
  // styling
  background-color: var(--clr-dark-grey-1);
  // positioning
  grid-area: footer;
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 10rem;
  margin-top: 2.5rem;
  bottom: 0;
}